/***Header***/
img {
	width: 100%;
}

header {
    background-color: #686e77;
    height: 150px;
}

header h1 {
    color: white;
    text-align: center;
    line-height: 150px;
    margin: 0;
}

/***Nav Bar***/

nav {
    text-align: center;
}
nav li {
    list-style: none;
    display: inline-block;
}
nav a {
    color: #3297FD;
    display: block;
    font-weight: bold;
    margin: 0;
    padding: 0 18px;
    text-decoration: none;
}
nav a:hover {
    background-color: #2D89E5;
    color: #fff;
}

/***Homepage***/
* {
	font-family: Arial;
}

body {
	background-color: lightblue;
	margin: 0;
}

.wrapper {
	width: 90%
	margin: 0 auto;
}

.pretty {
	width: 100%;
	overflow: hidden;
}

img.move {
	margin-top: -20px;
}

main {
	width: 60%;
	float: left;
	margin-left: 40px;
	text-align: left;
}

aside {
	width: 20%;
	float: right;
	margin-right: 40px;
}

.candle {
	font-size: 2em;
	font-weight: 800;
	text-align: left;

}

/***Aside***/

.center {
	text-align: center;
}

.round {
	border-radius: 100%;
}

/**Footer**/

footer {
   background-color: #686e77;
   border: 1px solid #686e77;
   clear: both;
}

footer h4 {
   color: white;
   text-align: center;
}


