* {
    font-family: arial;
}

html {
    padding: 0;
    width: 100%;
}

main {
    width: 60%;
    margin-left: 6%;
    float: left;
}

main p {
    text-align: justify;
}

body {
    background-color: lightblue;
    margin: 0;
}

header {
    background-color: #686e77;
    height: 150px;
}

header h1 {
    color: white;
    text-align: center;
    line-height: 150px;
    margin: 0;
}

nav {
    text-align: center;
    margin-bottom: 5%;
}

nav li {
    list-style: none;
    display: inline-block;
}

nav a {
    color: #3297FD;
    display: block;
    font-weight: bold;
    margin: 0;
    padding: 0 18px;
    text-decoration: none;
}

nav a:hover {
    background-color: #2D89E5;
    color: #fff;
}

footer {
    background-color: #686e77;
    border: 1px solid #686e77;
    clear: both;
}

footer h4 {
    color: white;
    text-align: center;
}

.more-marg {
    margin-bottom: 5%;
}

.aside-style {
    float: left;
    width: 20%;
    margin: 8% 6%;
}

.aside-style p {
    color: grey;
}

.author {
    font-style: italic;
    text-align: right;
    margin-bottom: 10em;
}

/*Product Page*/



.product-wrapper {
    width: 90%;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    float: left;
}

.product1, .product2, .product3, .product4 {
    border: 1px solid black;
    display: inline-block;
    width: 20%;
    margin: 1.5%;
    background-color: white;
    color: black;
}

.product5 {
    border: 1px solid black;
    width: 20%;
    margin: 1.5%;
    background-color: white;
    color: black;
    clear: both;
    float: left;
}
 .product6, .product7, .product8{
    border: 1px solid black;
    float: left;
    width: 20%;
    margin: 1.5%;
    background-color: white;
    color: black;
}

.resize {
    width: 100px;
    height: 100px;
}

.round {
    border-radius: 100%;
    width: 300px;
    height: 300px;
}

.center {
    text-align: center;
}

aside {
    width: 20%;
    float: right;
    margin-right: 40px;
}

.candle {
    font-size: 2em;
    font-weight: 800;
    text-align: left;

}

.wrapper {
    width: 90%
    margin: 0 auto;
}

.pretty {
    width: 100%;
    overflow: hidden;
}

img.move {
    margin-top: -20px;
}

main {
    width: 60%;
    float: left;
    margin-left: 40px;
    text-align: left;
}